.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}
header{height: auto;}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-link {
  color: #61dafb;
}
